name: Ubuntu

on:
  push:
    branches:
      - master  # Trigger on push to master
  pull_request:
    branches:
      - master  # Trigger on pull request to master

jobs:
  build:
    runs-on: ubuntu-latest  # Use Ubuntu environment for the build

    steps:
    - name: Checkout code
      uses: actions/checkout@v2  # Checkout the repository code

    - name: Install lcov
      run: sudo apt-get update && sudo apt-get install -y lcov  # Install lcov tool

    - name: Configure CMake
      run: cmake -S . -B build -DCMAKE_BUILD_TYPE=Debug -DTEST_COVERAGE=ON  # Configure CMake with Debug and coverage

    - name: Build with coverage flags
      run: cmake --build build --target delegate_app  # Build the project using CMake

    - name: Run delegate_app to execute tests
      run: |
        cd build
        ./delegate_app/delegate_app  # Run your app to execute tests
        
        # Collect code coverage data
        lcov --capture --directory . --output-file coverage.info
        
        # Optionally, filter out system headers and unneeded files
        lcov --remove coverage.info '/usr/*' '*/Serializer.h' '*/msg_serialize.h' --output-file coverage_filtered.info

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v2  # Upload coverage report to Codecov
      with:
        token: ${{ secrets.CODECOV_TOKEN }}  # GitHub repository secret for authentication with Codecov
        files: build/coverage_filtered.info  # Path to the filtered coverage file

    - name: Run delegate_app
      run: ./build/delegate_app/delegate_app  # Run the built executable (to run the tests)
